$primary: #f2711c;

// Light shades
$primary-light-10: mix(white, $primary, 10%);
$primary-light-20: mix(white, $primary, 20%);

// Dark shades
$primary-dark-10: mix(black, $primary, 10%);
$primary-dark-20: mix(black, $primary, 20%);
