$primary: #f2711c;

.cardGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
}

.cardFlex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}

.header {
    font-size: 3.5em;
}

.groupHeader {
    font-size: 1.2em;
}

.highlight {
    padding: 0 20px;
    margin-bottom: 50px;
}

.dropdown {
    text-align: right;
}

.dropdownIcon {
    cursor: pointer;
    transition: all 0.1s;
    border-radius: 100%;
    &:hover {
        border: 2px solid grey;
        width: 20px;
        height: 20px;
        transform: scale(1.5);
    }
}

.dropdownMenu {
    p {
        cursor: pointer;
        &:active {
            color: $primary;
        }
    }
}
